/* CSS file */
.recordButton {
	selected-disabled-icon: Embed(source="assets/player_pause.png"); 
	selected-over-icon: Embed(source="assets/player_pause.png");
	selected-up-icon: Embed(source="assets/player_pause.png");
	
	down-icon: Embed(source="assets/rec32.png");
	over-icon: Embed(source="assets/rec32-over.png"); 
	up-icon: Embed(source="assets/rec32.png");
	backgroundColor: #000;
}

.playButton { 
	down-icon: Embed(source="assets/player_pause.png"); 
	over-icon: Embed(source="assets/player_pause.png"); 
	up-icon: Embed(source="assets/player_pause.png"); 
	
	selected-disabled-icon: Embed(source="assets/player_play.png"); 
	selected-over-icon: Embed(source="assets/player_play.png");
	selected-up-icon: Embed(source="assets/player_play.png");
}

.stopButton { 
	down-icon: Embed(source="assets/player_stop.png"); 
	over-icon: Embed(source="assets/player_stop.png"); 
	up-icon: Embed(source="assets/player_stop.png"); 
}

.saveButton {
	borderColor: #444444;
	color: #FFFFFF;
	up-color: #ffffff;
	fillAlphas: 0.6, 0.6, 0.6, 0.6;
	fillColors: #000000, #000000;
	icon: Embed(source="assets/circle.png");
}

.backButton {
	borderColor: #444444;
	color: #FFFFFF;
	up-color: #ffffff;
	fillAlphas: 0.6, 0.6, 0.6, 0.6;
	fillColors: #000000, #000000;
	icon: Embed(source="assets/back.png");
}

.scrollBar {
	thumb-icon: Embed(source="assets/circle.png"); 
	thumb-up-skin: Embed(source="assets/circle.png"); 
	thumb-down-skin: Embed(source="assets/circle.png"); 
	thumb-over-skin: Embed(source="assets/circle.png"); 
}		
ToolTip {
	backgroundAlpha: 0.8;
	backgroundColor: #000;
	borderStyle: solid;
	color: white;
	cornerRadius: 5;
	fontFamily: Arial;
	font-size: 13;
}

HSlider {
	
	dataTipPlacement: right;
	dataTipOffset: 0;
}
.arial16E {
	fontFamily: Arial;
	fontSize: 16;
}
.arial14E {
	fontFamily: Arial;
	fontSize: 14;
}        
.arial12E {
	fontFamily: Arial;
	fontSize: 12;
}
.arial10E {
	fontFamily: Arial;
	fontSize: 10;
}

